# Arquivos de Bytecode e Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py-source

# Arquivos de cache e de IDEs (Exemplos: VSCode, PyCharm)
.vscode/
.idea/
*.swp
*.swo

# Ambientes virtuais
# Ignore qualquer pasta de ambiente virtual, como venv, env, etc.
venv/
env/
.env/
.venv/
ENV/

# Arquivos de variáveis de ambiente
# NUNCA versione arquivos .env que contenham segredos como chaves de API e senhas!
.env
.env.*
!.env.example

# Banco de dados
# Se você estiver usando SQLite para desenvolvimento, não inclua o arquivo do banco de dados.
db.sqlite3
db.sqlite3-journal

# Arquivos de Mídia e Estáticos coletados
# A pasta de mídia contém uploads dos usuários.
# A pasta de estáticos coletados é gerada pelo comando 'collectstatic'.
/media/
/static_collected/
/staticfiles/
/static/

# Logs e arquivos temporários
*.log
*.pot
*.mo

# Arquivos de dependências e distribuição do Python
pip-log.txt
pip-delete-this-directory.txt
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Arquivos de Testes e Cobertura de Código
.tox/
.coverage
.coverage.*
htmlcov/
.pytest_cache/
nosetests.xml
coverage.xml

# Arquivos específicos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de configurações locais
# É comum ter um arquivo de configurações locais não versionado.
local_settings.py
