{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <h2 class="title is-3">Criar Conta</h2>

  <form method="post" class="box">
    {% csrf_token %}

    <div class="field">
      <label class="label">{{ form.username.label }}</label>
      <div class="control">
        {{ form.username }}
      </div>
      {% if form.username.errors %}
        <p class="help is-danger">{{ form.username.errors.0 }}</p>
      {% endif %}
    </div>

    <div class="field">
      <label class="label">{{ form.password.label }}</label>
      <div class="control">
        {{ form.password }}
      </div>
      {% if form.password.errors %}
        <p class="help is-danger">{{ form.password.errors.0 }}</p>
      {% endif %}
    </div>

    <div class="field">
      <div class="control">
        <button type="submit" class="button is-primary is-fullwidth">
          Criar Conta
        </button>
      </div>
        <a
            style="
                color: white !important;
                border: 1px solid cyan;
                margin-top: 2px;
                border-radius: 10px;
                padding: 6px 12px;
                display: inline-block;
                text-decoration: none;
            "
            href="{% url 'main:login' %}">
            Já possuo conta
        </a>
    </div>
  </form>
</div>
{% endblock content %}
