<style>
body{
    background: black;
    color: white;
    font-size: 2rem;
}
</style>
<h1>Sobre</h1>

<li><a style="color: cyan;" href="{% url 'main:welcome' id_user=user.id %}">Início</a></li>
<h2>Sobre este app</h2>
<p>
Não, esta página não está com "defeito". Apenas algo muito mais simples.
Crie este programa para que pudesse ser útil, espero que esteja cumprindo com esse papél. Obrigado.
</p>

<h2>Sobre mim</h2>
<p>Me chamo Victor, programador web (Software). Para possíveis problemas/sugestões (ou elogios):
meu email: victorh.csilva20@gmail.com, com titulo "Sugestões - web app". Obrigado!
</p>
