{% extends "base.html" %}
{% load static %}

{% block title %}Início{% endblock title %}

{% block extra_css %}
<style>
    /* Estilos específicos para a página de login, se necessário */
    .login-container {
        max-width: 450px; /* Limita a largura da caixa de login para melhor visualização */
        margin-top: 8vh;  /* Um pouco de espaço do topo */
        margin-bottom: 8vh;
    }
    .label { /* Garante que os labels do formulário sejam claros, herdado do base mas pode reforçar */
        color: #dbdbdb;
    }
    .input { /* Estilos para inputs no tema escuro, herdado do base */
        background-color: #2a2a2a;
        border-color: #4a4a4a;
        color: #e0e0e0;
    }
    .input::placeholder {
        color: #7a7a7a;
    }
    .input:focus, .input:active {
        border-color: #3273dc; /* Cor primária do Bulma para foco */
        box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
    }
</style>
{% endblock extra_css %}

{% block content %}


<h1 style="color: white" >O que irá fazer hoje ?</h1>

<a class="button" href="{% url 'main' id_user=user.id %}">Crie uma anotação</a>
<a class="button" href="{% url 'agenda' id_user=user.id %}">Veja sua agenda</a>
<br>
{% endblock content %}

{% block extra_js %}
{# O script de fechar notificações já está no base.html, não precisa repetir aqui se não houver JS específico #}
{% endblock extra_js %}
